In [16]:
import pandas as pd
import datetime
import numpy as np
import os

In [20]:

#get NYC citibike csv files from 202304 and 202305
filepath_apr_23 =  os.path.join ("JC-202304-citibike-tripdata.csv")
filepath_may_23 = os.path.join ("JC-202305-citibike-tripdata.csv")

nyccitibike_apr_23 = pd.read_csv(filepath_apr_23)
nyccitibike_may_23 = pd.read_csv(filepath_may_23)

print(nyccitibike_apr_23.shape)
print(nyccitibike_may_23.shape)










#read csv files into pandas dataframes
#concatenate dataframes
#export to csv






# dtypes = {"ride_id": str,
#           "rideable_type": str,
#           "started_at": pd.Timestamp,
#           "ended_at": pd.Timestamp,
#           "start_station_name": "str",
#           "start_station_id": "str",
#           "end_station_name": "str",
#           "end_station_id": "str",
#           "start_lat": float,
#           "start_lng": float,
#           "end_lat": float,
#           "end_lng": float,
#           "member_casual": "str"}

# data_apr_23 = pd.read_csv("C:\Users\jessi\OneDrive\Desktop\Tableau_Challenge\JC-202304-citibike-tripdata.csv", header=0, parse_dates=[2, 3])
# data_may_23 = pd.read_csv("C:\Users\jessi\OneDrive\Desktop\Tableau_Challenge\JC-202305-citibike-tripdata.csv", header=0, parse_dates=[2, 3])
# print(data_apr_23.shape())
# print(data_may_23.shape())

(80688, 13)
(96002, 13)

In [28]:
#create dataframe from csv file apr
df1 = pd.read_csv('JC-202304-citibike-tripdata.csv')
df1.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,59B1078FC3455D5B,electric_bike,2023-04-02 14:50:55,2023-04-02 15:01:24,Hamilton Park,JC009,Hamilton Park,JC009,40.727596,-74.044247,40.727596,-74.044247,member
1,84365D599B6E002E,electric_bike,2023-04-15 21:08:54,2023-04-16 10:54:44,Hamilton Park,JC009,Hamilton Park,JC009,40.727596,-74.044247,40.727596,-74.044247,casual
2,A4F033EAA7810781,classic_bike,2023-04-17 10:35:11,2023-04-17 10:37:53,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member
3,E9051DFD91E516BF,classic_bike,2023-04-07 12:19:31,2023-04-07 12:21:52,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member
4,0F6D86AEC1B29205,classic_bike,2023-04-07 12:28:21,2023-04-07 12:30:23,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member

In [33]:
#create dataframe from csv file may
df2 = pd.read_csv('JC-202305-citibike-tripdata.csv')
df2.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BC145343639B5E5B,classic_bike,2023-05-31 12:27:28,2023-05-31 12:38:36,Pershing Field,JC024,Newport PATH,JC066,40.742675,-74.051806,40.727224,-74.033759,member
1,A0CE41F47514FF5C,classic_bike,2023-05-01 18:12:37,2023-05-01 18:29:03,Pershing Field,JC024,Baldwin at Montgomery,JC020,40.742638,-74.051815,40.723659,-74.064194,casual
2,D588077E3D7E2AFD,electric_bike,2023-05-28 17:37:58,2023-05-28 18:39:39,Pershing Field,JC024,Pershing Field,JC024,40.742677,-74.051789,40.742677,-74.051789,casual
3,89AC48A5584B2DB4,classic_bike,2023-05-27 21:01:37,2023-05-27 21:13:16,Pershing Field,JC024,Manila & 1st,JC082,40.742677,-74.051789,40.721651,-74.042884,member
4,709E0B11AB4A0E6C,classic_bike,2023-05-22 12:38:54,2023-05-22 13:02:13,Pershing Field,JC024,Jersey & 3rd,JC074,40.742677,-74.051789,40.723332,-74.045953,member

In [36]:
#combine both dataframes df1 and df2
citibike_df = pd.concat([df1, df2], ignore_index=True)
citibike_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BC145343639B5E5B,classic_bike,2023-05-31 12:27:28,2023-05-31 12:38:36,Pershing Field,JC024,Newport PATH,JC066,40.742675,-74.051806,40.727224,-74.033759,member
1,A0CE41F47514FF5C,classic_bike,2023-05-01 18:12:37,2023-05-01 18:29:03,Pershing Field,JC024,Baldwin at Montgomery,JC020,40.742638,-74.051815,40.723659,-74.064194,casual
2,D588077E3D7E2AFD,electric_bike,2023-05-28 17:37:58,2023-05-28 18:39:39,Pershing Field,JC024,Pershing Field,JC024,40.742677,-74.051789,40.742677,-74.051789,casual
3,89AC48A5584B2DB4,classic_bike,2023-05-27 21:01:37,2023-05-27 21:13:16,Pershing Field,JC024,Manila & 1st,JC082,40.742677,-74.051789,40.721651,-74.042884,member
4,709E0B11AB4A0E6C,classic_bike,2023-05-22 12:38:54,2023-05-22 13:02:13,Pershing Field,JC024,Jersey & 3rd,JC074,40.742677,-74.051789,40.723332,-74.045953,member

In [38]:
#drop NA values from the dataframe
citibike_df = citibike_df.dropna(how='any')
citibike_df.count()

ride_id               191472
rideable_type         191472
started_at            191472
ended_at              191472
start_station_name    191472
start_station_id      191472
end_station_name      191472
end_station_id        191472
start_lat             191472
start_lng             191472
end_lat               191472
end_lng               191472
member_casual         191472
dtype: int64

In [39]:
#calculate how many trips hav e been recorded in dataframe
started_at = len(df['started_at'])
print(f'There are {started_at} trips recorded in the dataframe')

There are 192004 trips recorded in the dataframe

In [41]:
#calculate total end station count for each station name
end_station_count = df.groupby(['end_station_name']).size().reset_index(name='counts')
end_station_count = end_station_count.sort_values(by=['counts'], ascending=False)
end_station_count.head(10)

                                 end_station_name  counts
108                                 Grove St PATH    9784
122       Hoboken Terminal - River St & Hudson Pl    8126
177  South Waterfront Walkway - Sinatra Dr & 1 St    6764
121      Hoboken Terminal - Hudson St & Hudson Pl    5026
160                                  Newport PATH    4702
57               City Hall - Washington St & 1 St    4550
8               14 St Ferry - 14 St & Shipyard Ln    4342
112                                 Hamilton Park    4330
161                                  Newport Pkwy    4246
4                           11 St & Washington St    3942

In [42]:
#export the data to csv
citibike_df.to_csv("citibike.csv", index=False)