In [34]:
import pandas as pd
from pathlib import Path
import datetime as dt
import numpy as np

In [35]:

#Read in csv files into pandas dataframes
df_2023 = pd.read_csv(Path('may_2023.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)

In [36]:
#print column names
df_2023.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [37]:
#drop ride_id and rideable_type 
df_2023 = df_2023.drop(['ride_id', 'rideable_type'], axis=1)
df_2023.head()

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,2023-05-31 12:27:28,2023-05-31 12:38:36,Pershing Field,JC024,Newport PATH,JC066,40.742675,-74.051806,40.727224,-74.033759,member
1,2023-05-01 18:12:37,2023-05-01 18:29:03,Pershing Field,JC024,Baldwin at Montgomery,JC020,40.742638,-74.051815,40.723659,-74.064194,casual
2,2023-05-28 17:37:58,2023-05-28 18:39:39,Pershing Field,JC024,Pershing Field,JC024,40.742677,-74.051789,40.742677,-74.051789,casual
3,2023-05-27 21:01:37,2023-05-27 21:13:16,Pershing Field,JC024,Manila & 1st,JC082,40.742677,-74.051789,40.721651,-74.042884,member
4,2023-05-22 12:38:54,2023-05-22 13:02:13,Pershing Field,JC024,Jersey & 3rd,JC074,40.742677,-74.051789,40.723332,-74.045953,member

In [38]:
start_date_2023 = pd.to_datetime(df_2023['started_at'], format = '%Y-%m-%d %H:%M:%S')
stop_date_2023 = pd.to_datetime(df_2023['ended_at'], format = '%Y-%m-%d %H:%M:%S')
df_2023['started_at'] = start_date_2023
df_2023['ended_at'] = stop_date_2023
month_start = df_2023['started_at'].dt.strftime('%b')
month_stop = df_2023['ended_at'].dt.strftime('%b')
df_2023['start_month'] = month_start
df_2023['stop_month'] = month_stop
df_2023['time_usage'] = df_2023['ended_at'] - df_2023['started_at']
df_2023.head()

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_month,stop_month,time_usage
0,2023-05-31 12:27:28,2023-05-31 12:38:36,Pershing Field,JC024,Newport PATH,JC066,40.742675,-74.051806,40.727224,-74.033759,member,May,May,0 days 00:11:08
1,2023-05-01 18:12:37,2023-05-01 18:29:03,Pershing Field,JC024,Baldwin at Montgomery,JC020,40.742638,-74.051815,40.723659,-74.064194,casual,May,May,0 days 00:16:26
2,2023-05-28 17:37:58,2023-05-28 18:39:39,Pershing Field,JC024,Pershing Field,JC024,40.742677,-74.051789,40.742677,-74.051789,casual,May,May,0 days 01:01:41
3,2023-05-27 21:01:37,2023-05-27 21:13:16,Pershing Field,JC024,Manila & 1st,JC082,40.742677,-74.051789,40.721651,-74.042884,member,May,May,0 days 00:11:39
4,2023-05-22 12:38:54,2023-05-22 13:02:13,Pershing Field,JC024,Jersey & 3rd,JC074,40.742677,-74.051789,40.723332,-74.045953,member,May,May,0 days 00:23:19

In [40]:
seconds = df_2023['time_usage'].dt.total_seconds()
df_2023['time_usage_seconds'] = seconds
df_2023.head()

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_month,stop_month,time_usage,time_usage_seconds
0,2023-05-31 12:27:28,2023-05-31 12:38:36,Pershing Field,JC024,Newport PATH,JC066,40.742675,-74.051806,40.727224,-74.033759,member,May,May,0 days 00:11:08,668.0
1,2023-05-01 18:12:37,2023-05-01 18:29:03,Pershing Field,JC024,Baldwin at Montgomery,JC020,40.742638,-74.051815,40.723659,-74.064194,casual,May,May,0 days 00:16:26,986.0
2,2023-05-28 17:37:58,2023-05-28 18:39:39,Pershing Field,JC024,Pershing Field,JC024,40.742677,-74.051789,40.742677,-74.051789,casual,May,May,0 days 01:01:41,3701.0
3,2023-05-27 21:01:37,2023-05-27 21:13:16,Pershing Field,JC024,Manila & 1st,JC082,40.742677,-74.051789,40.721651,-74.042884,member,May,May,0 days 00:11:39,699.0
4,2023-05-22 12:38:54,2023-05-22 13:02:13,Pershing Field,JC024,Jersey & 3rd,JC074,40.742677,-74.051789,40.723332,-74.045953,member,May,May,0 days 00:23:19,1399.0

In [42]:
df_2023.drop(columns=['stop_month'], inplace=True)
df_2023.head()

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_month,time_usage,time_usage_seconds
0,2023-05-31 12:27:28,2023-05-31 12:38:36,Pershing Field,JC024,Newport PATH,JC066,40.742675,-74.051806,40.727224,-74.033759,member,May,0 days 00:11:08,668.0
1,2023-05-01 18:12:37,2023-05-01 18:29:03,Pershing Field,JC024,Baldwin at Montgomery,JC020,40.742638,-74.051815,40.723659,-74.064194,casual,May,0 days 00:16:26,986.0
2,2023-05-28 17:37:58,2023-05-28 18:39:39,Pershing Field,JC024,Pershing Field,JC024,40.742677,-74.051789,40.742677,-74.051789,casual,May,0 days 01:01:41,3701.0
3,2023-05-27 21:01:37,2023-05-27 21:13:16,Pershing Field,JC024,Manila & 1st,JC082,40.742677,-74.051789,40.721651,-74.042884,member,May,0 days 00:11:39,699.0
4,2023-05-22 12:38:54,2023-05-22 13:02:13,Pershing Field,JC024,Jersey & 3rd,JC074,40.742677,-74.051789,40.723332,-74.045953,member,May,0 days 00:23:19,1399.0

In [44]:
df_2023.rename(columns={'start_month':'May'}, inplace=True)
df_2023.head()

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,May,time_usage,time_usage_seconds
0,2023-05-31 12:27:28,2023-05-31 12:38:36,Pershing Field,JC024,Newport PATH,JC066,40.742675,-74.051806,40.727224,-74.033759,member,May,0 days 00:11:08,668.0
1,2023-05-01 18:12:37,2023-05-01 18:29:03,Pershing Field,JC024,Baldwin at Montgomery,JC020,40.742638,-74.051815,40.723659,-74.064194,casual,May,0 days 00:16:26,986.0
2,2023-05-28 17:37:58,2023-05-28 18:39:39,Pershing Field,JC024,Pershing Field,JC024,40.742677,-74.051789,40.742677,-74.051789,casual,May,0 days 01:01:41,3701.0
3,2023-05-27 21:01:37,2023-05-27 21:13:16,Pershing Field,JC024,Manila & 1st,JC082,40.742677,-74.051789,40.721651,-74.042884,member,May,0 days 00:11:39,699.0
4,2023-05-22 12:38:54,2023-05-22 13:02:13,Pershing Field,JC024,Jersey & 3rd,JC074,40.742677,-74.051789,40.723332,-74.045953,member,May,0 days 00:23:19,1399.0

In [46]:
day = df_2023['started_at'].dt.strftime('%a')
df_2023['day'] = day
df_2023.head()

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,May,time_usage,time_usage_seconds,day
0,2023-05-31 12:27:28,2023-05-31 12:38:36,Pershing Field,JC024,Newport PATH,JC066,40.742675,-74.051806,40.727224,-74.033759,member,May,0 days 00:11:08,668.0,Wed
1,2023-05-01 18:12:37,2023-05-01 18:29:03,Pershing Field,JC024,Baldwin at Montgomery,JC020,40.742638,-74.051815,40.723659,-74.064194,casual,May,0 days 00:16:26,986.0,Mon
2,2023-05-28 17:37:58,2023-05-28 18:39:39,Pershing Field,JC024,Pershing Field,JC024,40.742677,-74.051789,40.742677,-74.051789,casual,May,0 days 01:01:41,3701.0,Sun
3,2023-05-27 21:01:37,2023-05-27 21:13:16,Pershing Field,JC024,Manila & 1st,JC082,40.742677,-74.051789,40.721651,-74.042884,member,May,0 days 00:11:39,699.0,Sat
4,2023-05-22 12:38:54,2023-05-22 13:02:13,Pershing Field,JC024,Jersey & 3rd,JC074,40.742677,-74.051789,40.723332,-74.045953,member,May,0 days 00:23:19,1399.0,Mon

In [48]:
start_lat = df_2023['start_lat']
start_lng = df_2023['start_lng']
end_lat = df_2023['end_lat']
end_lng = df_2023['end_lng']
end_lng.head()

0   -74.033759
1   -74.064194
2   -74.051789
3   -74.042884
4   -74.045953
Name: end_lng, dtype: float64

In [49]:
def haversine_vectorize(start_lat, start_lng, end_lat, end_lng, to_radians=True, earth_radius=6371):
    if to_radians:
        start_lat, start_lng, end_lat, end_lng = np.radians([start_lat, start_lng, end_lat, end_lng])
        a = np.sin((end_lat - start_lat)/2.0)**2 + np.cos(start_lat) * np.cos(end_lat) * np.sin((end_lng - start_lng)/2.0)**2
        return earth_radius * 2 * np.arcsin(np.sqrt(a))
df_2023['distance'] = haversine_vectorize(start_lat, start_lng, end_lat, end_lng)

In [50]:
df_2023.head()

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,May,time_usage,time_usage_seconds,day,distance
0,2023-05-31 12:27:28,2023-05-31 12:38:36,Pershing Field,JC024,Newport PATH,JC066,40.742675,-74.051806,40.727224,-74.033759,member,May,0 days 00:11:08,668.0,Wed,2.294339
1,2023-05-01 18:12:37,2023-05-01 18:29:03,Pershing Field,JC024,Baldwin at Montgomery,JC020,40.742638,-74.051815,40.723659,-74.064194,casual,May,0 days 00:16:26,986.0,Mon,2.354073
2,2023-05-28 17:37:58,2023-05-28 18:39:39,Pershing Field,JC024,Pershing Field,JC024,40.742677,-74.051789,40.742677,-74.051789,casual,May,0 days 01:01:41,3701.0,Sun,0.000000
3,2023-05-27 21:01:37,2023-05-27 21:13:16,Pershing Field,JC024,Manila & 1st,JC082,40.742677,-74.051789,40.721651,-74.042884,member,May,0 days 00:11:39,699.0,Sat,2.455469
4,2023-05-22 12:38:54,2023-05-22 13:02:13,Pershing Field,JC024,Jersey & 3rd,JC074,40.742677,-74.051789,40.723332,-74.045953,member,May,0 days 00:23:19,1399.0,Mon,2.206617

In [55]:
#export data to csv file for Tableau visualization named "citibike.csv"
df_2023.to_csv("citibikecleaned.csv", index=False)